.login-container {
  background: yellow;
  height: 200px; /* Diubah menjadi 200px */
  width: 300px; /* Diubah menjadi 300px */
  padding: 20px;
  position: absolute;
}

h1{
  color: #00000
}

button{
  color: #36454F
}

.email {
  padding: 1;
  align-items: left;
}

.box-login{
  height: 350,
  width: 300,
  backgroundColor: 'yellow',
  alignItems: "center",
  borderRadius: 30,
  padding: 20,
  boxShadow: '5px 10px 5px rgba(0, 0, 0, 0.3)',
  marginTop: 80,
}