.navbar {
    width: 100%;
    justify-content: space-between; /* Maintain horizontal distribution */
    background: yellow;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    
  }
  
  .navbar-list {
    display: flex;
    align-items: center;
    justify-content: center; 
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  
  .logo {
    position: absolute;
    top: 0;
    right: 10px; 
    color: black; 
  }
  
  .navbar-list {
    color: black; 
    font-weight: bold; 
  }

  .nav-right {
    display: flex;
    align-items: center; 
    position: absolute; 
    top: -03px; 
    right: 0; 
    z-index: 2;
  }

  .navbar-button {
    font-weight: normal;
  }

  .user-icon{
    height: 10;
  }

  .user-icon-wrapper {
    display: flex; /* Enable flexbox */
    justify-content: 'center'; /* Center icon horizontally (adjust as needed) */
  }

  .user-icon {
    font-size: 25px; /* Increase font size to 30px (adjust as needed) */
  }
  